.container-nosotros {
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header-nosotros {
    background-color: #c56cee;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 10px;
}

.main-title-nosotros {
    color: #efdaf9;
}

.about, .mission, .team {
    margin-bottom: 20px;
    padding: 15px;
    background: rgb(244, 244, 244);
    border-radius: 5px;
}

.h2-nosotros {
    color: #c56cee;
}
